.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.wrapImage {
    width: 552px;
    height: 409px;
    background-color: rgba(43, 60, 171, 1);
    border-radius: 6px;
    margin-right: 50px;
}
.image {
    width: 552px;
    height: 409px;
    position: relative;
    bottom: 11px;
    left: 10px;
}
.wrapText {
    width: 500px;
    height: 300px;
}
.title {
    color: rgba(21, 24, 117, 1);
    width: 400px;
}
.text {
    color: rgba(138, 143, 185, 1);
    font-size: 16px;
    width: 450px;
}
.button {
    width: 145px;
    height: 44px;
    background-color: rgba(251, 46, 134, 1);
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 50px;
}