.container {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    margin-bottom: 115px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapCard {
    margin: 0px 20px 0px 20px;
    width: 370px;
    height: 490px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.titleContainer {
    color:rgba(21, 24, 117, 1);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    margin-top: 0px;
    text-align: center;
}
.innerIconText {
    display: flex;
    flex-wrap: wrap;
    margin-left: 14px;
}
.icon {
margin-right: 8px;
}
.textInner {
    color:rgba(21, 24, 117, 1);
    margin-right: 23px;
}
.title {
    margin-left: 19px;
    font-size: 20px;
    color:rgba(21, 24, 117, 1);
    font-weight: bold;
}
.title:hover{
    color:rgba(251, 46, 134, 1);
}
.description {
    color:rgba(114, 113, 143, 1);
    width: 300px;
    margin-left: 19px;
}
.textLink {
    color:rgba(21, 24, 117, 1);
    text-decoration: underline;
    margin-left: 19px;
    margin-top: 22px;
    cursor: pointer;
}
.textLink:hover{
    color:rgba(251, 46, 134, 1);
}