/* .container {
    display: flex;
    flex-wrap: wrap;
    
} */
  .link {
    text-decoration: none;
    color: black;
  }
  .wrapper {
    width: 250px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 0px 20px;
  }
  .wrapCard {
    width: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .image {
    width: 150px;
  }
  .innerIcons {
    width: 210px;
    display: flex;
    justify-content: end;
    position: absolute;
  }
  .title {
    color: rgba(17, 28, 133, 1);
    font-size: 15px;
    font-weight: bold;
  }
  .innerPrice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100px;
  }
  .price {
  font-size:12px;
  color: rgba(17, 28, 133, 1);
}
.oldPrice {
    font-size:12px;
    color: rgba(255, 42, 170, 1);
    text-decoration: line-through;
}
.description {
    font-size:12px;
    color: rgba(146, 149, 170, 1);
    width: 200px;
}
